*{
    /* color: #565656 #18121E, #233237, #984B43, #EAc67A */
}

body{
    background-color: #18121E;
    color: #E8E8E8;
    font-family: 'Raleway', sans-serif;
}
#triangle2{
    z-index: -1;
    width: 100%;
    background-color:#233237;
    height: 20vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    place-items: center;
}
header{
    text-align: center;
    margin: 15px;
}
header h1{
    font-weight: bold;
    font-size: 3em;

}
#scoreBoard{
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    width: 40%;
    height: 20%;
    background-color:#EAc67A;
    position: absolute;
    top: 20%;
    left: 30%;
    display: grid;
    place-items: center;
    

}
#scoreBoardCounter{
    font-size: 30px;


}


#aboutMe{
    position: absolute;
    top: 40%;
    background-color: #233237;
    padding: 5px;
}
#aboutMe h2{
  display: grid;
  place-items: center;
  font-size: 2em;
  line-height: 50px;
}
#aboutMe p{
    margin: 10px;
    
}
#aboutMe img{
    width: 200px;
    height: 200px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
    float: left;
    z-index: 1;
    filter: grayscale(100%);
}
#triangle{
    position: absolute;
    top: 0px;
    left: 200px;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/black-and-white-seattle-skyline-dim-dom.jpg);
  background-color:#18121E;
  z-index: -2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 40%);
  background-position: right;
  background-size: 80%;

    
}
#skills{
    position: absolute;
    top: 85%;
    display: flex;
    border-top: 4px solid white;
    width: 100%;
    padding: 5px;
    justify-content: space-around;
    
}
#livedIn h2{
    font-size: 1.5em;
    padding-bottom: 5px;

}
#livedIn li{
    padding: 2px;
}
#wantToLive h2{
    font-size: 1.5em;
    padding-bottom: 5px;
}
#wantToLive li{
    padding: 2px;
}
@media only screen and (max-width: 900px){
    #triangle2{
        place-items: center end;
    }
}