body{
    background-color: #22BCBE;
    color: #E8E8E8;
    font-family: 'Raleway', sans-serif;
}
#triangle2{
    z-index: -1;
    width: 100%;
    border-top: 200px solid #D54B65;
    border-left: 320px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}
header{
    text-align: center;
    margin: 15px;
}
header h1{
    font-weight: bold;
    font-size: 3em;
}
#scoreBoard{
    border-radius: 10px;
    box-shadow: 5px 10px 20px #072323;
    width: 40%;
    height: 20%;
    background-color: #E87E53;
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: center;
    line-height: 80px;

}
#scoreBoardCounter{
    font-size: 30px;

}
#triangle{
    position: absolute;
    top: 0px;
    left: 200px;
    z-index: -2;
    width: 100%;
    height: 100%;
    border-top: 5000px solid #E6D5CA;
    border-left: 3000px solid transparent;
    
}
